<a href="https://colab.research.google.com/github/chiru04s/IBM_INTERNSHIP/blob/main/empsalprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data=pd.read_csv('/content/adult.csv')
data.head(3)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K

In [10]:
data.shape

(32561, 15)

In [11]:
data.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [12]:
print(data.workclass.value_counts())

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [13]:
data['workclass'] = data['workclass'].replace('?', 'Unknown')
print(data.workclass.value_counts())

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
Unknown              1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [17]:
data=data[data['workclass']!='Without-pay']
data=data[data['workclass']!='Never-worked']
print(data['workclass'].value_counts())

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
Unknown              1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Name: count, dtype: int64

In [18]:
print(data.education.value_counts())

education
HS-grad         10491
Some-college     7286
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1174
Assoc-acdm       1066
10th              931
7th-8th           644
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [22]:
print(data.occupation.value_counts())

occupation
Prof-specialty       4140
Craft-repair         4098
Exec-managerial      4066
Adm-clerical         3767
Sales                3650
Other-service        3294
Machine-op-inspct    2001
?                    1836
Transport-moving     1596
Handlers-cleaners    1369
Farming-fishing       988
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [24]:
data.occupation.replace({'?':'other'},inplace=True)
data=data[data['occupation']!='Armed-Forces']
print(data.occupation.value_counts())

occupation
Prof-specialty       4140
Craft-repair         4098
Exec-managerial      4066
Adm-clerical         3767
Sales                3650
Other-service        3294
Machine-op-inspct    2001
other                1836
Transport-moving     1596
Handlers-cleaners    1369
Farming-fishing       988
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Name: count, dtype: int64

In [26]:
data=data[data['education']!='Preschool']
data=data[data['education']!='5th-6th']
data=data[data['education']!='1st-4th']
print(data.education.value_counts())

education
HS-grad         10487
Some-college     7284
Bachelors        5354
Masters          1722
Assoc-voc        1382
11th             1174
Assoc-acdm       1066
10th              931
7th-8th           644
Prof-school       576
9th               514
12th              432
Doctorate         413
Name: count, dtype: int64

In [27]:
data.drop(columns=['education'],inplace=True)
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education.num', 'marital.status',
       'occupation', 'relationship', 'race', 'sex', 'capital.gain',
       'capital.loss', 'hours.per.week', 'native.country', 'income'],
      dtype='object')

In [28]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
data['workclass']=encoder.fit_transform(data['workclass'])
data['marital.status']=encoder.fit_transform(data['marital.status'])
data['occupation']=encoder.fit_transform(data['occupation'])
data['relationship']=encoder.fit_transform(data['relationship'])
data['sex']=encoder.fit_transform(data['sex'])
data['race']=encoder.fit_transform(data['race'])
data['native.country']=encoder.fit_transform(data['native.country'])
data

,age,workclass,fnlwgt,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,6,77053,9,6,13,1,4,0,0,4356,40,39,<=50K
1,82,2,132870,9,6,2,1,4,0,0,4356,18,39,<=50K
2,66,6,186061,10,6,13,4,2,0,0,4356,40,39,<=50K
3,54,2,140359,4,0,5,4,4,0,0,3900,40,39,<=50K
4,41,2,264663,10,5,8,3,4,0,0,3900,40,39,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,2,310152,10,4,9,1,4,1,0,0,40,39,<=50K
32557,27,2,257302,12,2,11,5,4,0,0,0,38,39,<=50K
32558,40,2,154374,9,2,5,0,4,1,0,0,40,39,>50K
32559,58,2,151910,9,6,0,4,4,0,0,0,40,39,<=50K
32560,22,2,201490,9,4,0,3,4,1,0,0,20,39,<=50K

In [31]:
X=data.drop(columns=['income'])
Y=data['income']
X

,age,workclass,fnlwgt,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,90,6,77053,9,6,13,1,4,0,0,4356,40,39
1,82,2,132870,9,6,2,1,4,0,0,4356,18,39
2,66,6,186061,10,6,13,4,2,0,0,4356,40,39
3,54,2,140359,4,0,5,4,4,0,0,3900,40,39
4,41,2,264663,10,5,8,3,4,0,0,3900,40,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,2,310152,10,4,9,1,4,1,0,0,40,39
32557,27,2,257302,12,2,11,5,4,0,0,0,38,39
32558,40,2,154374,9,2,5,0,4,1,0,0,40,39
32559,58,2,151910,9,6,0,4,4,0,0,0,40,39
32560,22,2,201490,9,4,0,3,4,1,0,0,20,39

In [32]:
Y

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557    <=50K
32558     >50K
32559    <=50K
32560    <=50K
Name: income, Length: 31979, dtype: object